In [1]:
import pandas as pd
data_frame = pd.read_csv('kl.csv',encoding='ISO-8859–1')
df1 = pd.DataFrame(data_frame,columns=['Name','Wage','Value'])
df1

                     Name   Wage    Value
0                L. Messi  565K  110.5M
1       Cristiano Ronaldo  405K     77M
2               Neymar Jr  290K  118.5M
3                  De Gea  260K     72M
4            K. De Bruyne  355K    102M
...                   ...    ...      ...
18202        J. Lundstram    1K     60K
18203  N. Christoffersson    1K     60K
18204           B. Worman    1K     60K
18205      D. Walker-Rice    1K     60K
18206           G. Nugent    1K     60K

[18207 rows x 3 columns]